@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


@theme {

    --font-open-sans: 'Open Sans', sans-serif;

    --color-primary: #0077be;

    --animate-fadeIn: fadeIn 0.3s ease-out;

    @keyframes fadeIn {
        0% {
            opacity: 0;
            transform: scale(0.95);
        }

        100% {
            opacity: 1;
            transform: scale(1);
        }
    }

    --animate-fadeOut: fadeOut 0.3s ease-out;

    @keyframes fadeOut {
        0% {
            opacity: 1;
            transform: scale(1);
        }

        100% {
            opacity: 0;
            transform: scale(0.95);
        }
    }
}

body {
    font-family: var(--font-open-sans);
}