@import 'tailwindcss';


@theme {
    --animate-fadeIn: fadeIn 0.3s ease-out;

    @keyframes fadeIn {
        0% {
            opacity: 0;
            transform: scale(0.95);
        }

        100% {
            opacity: 1;
            transform: scale(1);
        }
    }

    --animate-fadeOut: fadeOut 0.3s ease-out;

    @keyframes fadeOut {
        0% {
            opacity: 1;
            transform: scale(1);
        }

        100% {
            opacity: 0;
            transform: scale(0.95);
        }
    }
}